html {
  box-sizing: border-box;  
  width: 100%;
  height: 100%;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 2rem 0 2rem 0;
}

.card {
  width: 50vw;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.card div {
  border: 1px solid purple;
  margin: 1rem;
  justify-self: center;
  align-self: center;
}

.next-days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#current-weather {
  transform: scale(5);
}

#current-temp {
  margin-top: 3rem;
}