@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

html {
  box-sizing: border-box;  
  width: 100%;
  height: 100%;
  font-size: 36px;
  font-family: 'Oxygen', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/1235398/pexels-photo-1235398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Background image found on pexels.com, © Oleg Magni */
}

h1 {
  margin: 2rem 0;
}

label, select {
  height: 1.8rem;
}

label {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

select {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3rem;
  border-radius: 5px;
}

option {
  font-size: 0.5rem;;
}

.card {
  width: 100vw;
  max-height: 80vh;
  margin-top: 1.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 1.5fr 1fr;
  justify-items: center;
  align-items: space-around;
}

/* Loader found on https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#date {
  margin: -2rem 0;
}

#today {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-weather {
  transform: scale(6);
  padding: 1rem 2rem 1.3rem 2rem;
}

#current-temp {
  font-size: 1.8rem;
  padding-top: 2rem;
}

#next-days {
  width: 100%;
  height: 100%;
  font-size: 1.15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#next-days div {
  width: 8rem;
  justify-self: center;
  line-height: 2rem;
  text-align: center;
}

.forecast-icon {
  transform: scale(2);
  margin: auto;
  padding: 0.8rem 0;
}

#day3 {
  margin-right: 2rem;
}

@media(min-width: 992px) {
  html {
    font-size: 16px;
  }

  body {
    margin-left: 0;
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    /* Gradient background found at https://www.eggradients.com/category/sunset-gradient?83ff460c_page=1 */
  }

  label {
    font-size: 1rem;
    margin-bottom: 0;
  }

  select {
    font-size: 1rem;
  }

  option {
    font-size: 1rem;
  }

  .card {
    width: 50vw;
    max-height: 70vh;
    border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);

  }
}